<h1>Welcome to MARKING</h1>
<p><%= link_to 'Listing Job Dates', date_jobs_path %></p>
<p><%= link_to 'Filter_JOB', reports_filter_path %></p>
<br />
<p><%= link_to 'Listing Streets', streets_path %></p>
<p><%= link_to 'Listing Lines', lines_path %></p>
