<p id="notice"><%= notice %></p>

<p>
  <strong>Улица : <%= @street.street %></strong>  
</p>

<%= link_to 'Изменить', edit_street_path(@street), class: "btn btn-sm btn-default" %> |
<%= link_to 'Показать все', streets_path, class: "btn btn-sm btn-default" %>
