<h1>Редактировать выполненные работы</h1>

<%= render 'form' %>

<%= link_to 'Показать', @date_job, class: "btn btn-sm btn-default" %> |
<%= link_to 'Показать все', date_jobs_path, class: "btn btn-sm btn-default" %>
