            <tr>
              <td></td>     
              <td><%= aj.collection_select(:line_id, Line.order(:id), :id, :name) %></td>
              <td><%= aj.text_field :square %></td> 
              <td><%= aj.check_box :_destroy%></td>
              <td><%= aj.label :_destroy, "Remove" %></td>       
            </tr>